<ion-header>
  <ion-toolbar>
    <ion-title>
      Local JSON Demo
    </ion-title>
  </ion-toolbar>
</ion-header>


  
  <ion-content>
    <ion-list>
      <ion-list-header>
        Persons
      </ion-list-header>
      <ion-item *ngFor="let person of items?.persons">
        {{ person.lastName }}, {{person.firstName}}
        </ion-item>
    </ion-list>
    </ion-content>
    


